@import 'mixins';
@import 'variables';

//Hero (Main) Block
.hero-block{
  background: url('../img/home/windmill.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding-bottom: 180px;
  width: 100vw;

  .hero-inner{
    display: block;
    margin: 0 auto;
    max-width: 750px;
    position: relative;
    top: 192px;

    .hero-headline{
      color: white;
      font-size: 66px;
      font-weight: 300;
      line-height: 77px;

      text-align: center;
      #bold{
        font-weight: 900;
      }

      #italic{
        font-family: 'Stix-BoldItalic';
        font-weight: 600;
        font-style: italic;
      }
    }

    .hero-divider{
      background: #AAAAAA;
      display: block;
      height: 1px;
      margin: 15px auto 38px auto;
      position: relative;
      width: 717px;
    }

    .hero-description{
      color: #B9B9B9;
      font-family: 'Stix-Italic';
      font-style: italic;
      font-size: 28px;
      text-align: center;
    }

    .hero-button-link{
      display: inline-block;
      left: 50%;
      position: relative;
      @include transform( translateX(-50%));

      #hero-button{
        background: none;
        border: 4px solid $fr-yellow;
        cursor: pointer;
        height: 65px;
        margin-top: 90px;
        margin-bottom: 180px;
        width: 375px;

        &:hover{
          background: $fr-yellow;

          .button-text{
            color: white;
          }
        }

        .button-text{
          color: $fr-yellow;
          font-size: 20px;
          font-weight: 900;
        }
      }
    }
  }
}

//Featured In Block;
.featured-block{
  background: #CCCCCC;
  display: block;
  padding: 64px;

  .featured-description{
    color: #555555;
    display: block;
    font-family: $stixI;
    font-size: 28px;
    text-align: center;
  }

  .featured-list{
    display: block;
    margin: 45px auto 10px auto;
    max-width: 1196px;

    .featured-item{
      background: gray;
      display: inline-block;
      height: 30px;
      list-style: none;
      margin: 0 45px;
      width: 106px;
    }
  }
}
